:root {
    --primary-color: #72ACC5;
    --primary-2-color: #697F88;
    --text-color: #ffffff;
    --bg-color: #222222;
    --gray-color: #4E5558;
    --gray-2-color: #414648;
    --gray-3-color: #333739;
    --bg-code: #333739;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    overflow: hidden;
    background-color: var(--bg-color);
    font-family: 'Montserrat';
}

img, video {
    max-width: unset !important;
    height: unset !important;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    width: 100%;
    background: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    border: none;
    box-shadow: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: var(--primary-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}

button {
    border: none;
    background: none;
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
    transition: 0.2s;
    min-width: fit-content;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
}

button img {
    max-height: 25px;
    max-width: 25px;
    width: auto;
}

button:hover {
    background: var(--gray-2-color);
}

.button-click {
    background: var(--gray-3-color);
}

.button-click:hover {
    background: var(--gray-3-color);
}

.btn {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    width: fit-content;
    transition: 0.2s;
    height: 44px;
    min-width: fit-content;
}

#cropxtender {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 98;
    top: 0;
    left: 0;
}

#cxt-backdrop {
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    cursor: pointer;
}

#cxt-modal {
    top: 50%;
    left: 50%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
}

#cxt-preview {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    background-color: var(--bg-color);
    max-width: 70%;
    margin-bottom: 100px;
}

#cxt-preview img {
    width: 100% !important;
    height: auto !important;
}

#cxt-preview-elm {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px #adf dashed;
    top: 0;
    box-shadow: 0px 0px 0px 500px rgba(0, 0, 0, 0.5);
    display: none;
}

#cxt-preview::-webkit-scrollbar {
    display: none;
}

#cxt-options {
    display: flex;
    align-items: center;
    gap: 8px;
}

#cxt-actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--gray-color);
    position: fixed;
    bottom: 0;
    padding: 16px;
}

#cxt-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
}

#cxt-sliders {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    max-width: 600px;
    margin: auto;
}

#cxt-zoom {
    padding-bottom: 16px;
}

#cxt-builder {
    position: absolute;
    top: 100vh;
    width: 1000px;
    height: 1000px;
    background: #f0f0f0;
}

#cxt-bg {
    position: absolute;
    left: 0px;
    right: 0px;
    justify-content: center;
    top: 0px;
    margin: 0 auto;
    height: 100%;
    display: flex;
}

#cxt-img {
    position: absolute;
    top: 100vh;
    left: 0;
}

#cxt-filter {
    display: flex;
    padding-bottom: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#cxt-filter-slider {
    display: flex;
    color: white;
}

.cxt-sliders-inputs {
    display: flex;
}

.cxt-sliders-inputs input[id$="slider"] {
    margin: 0;
}

.cxt-sliders-inputs input[id$="value"] {
    width: 36px;
    color: black;
    border-radius: 5px;
    margin-left: 5px;
    padding-left: 4px;
}

.cxt-sliders-inputs input[id$="value"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}